<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.eol.eclipse.dt.launching.EolLaunchConfigurationDelegate">
    <stringAttribute key="implementation_name" value="Parallel"/>
    <listAttribute key="models">
        <listEntry value="uris=platform\:/resource/org.eclipse.epsilon.examples.emc.rdf.lens/model.ttl&#10;languagePreference=&#10;prefixes=&#10;aliases=&#10;metamodelUri=http\://eclipse.org/epsilon/rdf/books&#10;name=Model&#10;schemaUris=platform\:/resource/org.eclipse.epsilon.examples.emc.rdf.lens/schemaProtege.ttl&#10;type=EcoreLensRDFModel"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <intAttribute key="parallelism" value="11"/>
    <listAttribute key="parameters"/>
    <stringAttribute key="source" value="/org.eclipse.epsilon.examples.emc.rdf.lens/02-query-books.eol"/>
</launchConfiguration>
