<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.common.dt.modelType">
      <modelType
            class="org.eclipse.epsilon.emc.rdf.dt.EclipseRDFModel"
            dialog="org.eclipse.epsilon.emc.rdf.dt.RDFModelConfigurationDialog"
            icon="icons/sw-cube.png"
            label="RDF Model"
            stable="false"
            type="RDF">
      </modelType>
   </extension>
   <extension
         point="org.eclipse.epsilon.common.dt.modelType">
      <modelType
            class="org.eclipse.epsilon.emc.rdf.dt.EclipseMOF2RDFModel"
            dialog="org.eclipse.epsilon.emc.rdf.dt.RDFModelConfigurationDialog"
            icon="icons/sw-cube.png"
            label="MOF2RDF Model"
            stable="false"
            type="MOF2RDF">
      </modelType>
   </extension>

</plugin>
