<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.eol.eclipse.dt.launching.EolLaunchConfigurationDelegate">
    <booleanAttribute key="fine_grained_profiling" value="false"/>
    <stringAttribute key="implementation_name" value="Parallel"/>
    <listAttribute key="models">
        <listEntry value="uris=platform\:/resource/org.eclipse.epsilon.examples.emc.rdf.OWLdata/owlDemoData.ttl&#10;languagePreference=&#10;prefixes=&#10;aliases=&#10;name=Model&#10;schemaUris=platform\:/resource/org.eclipse.epsilon.examples.emc.rdf.OWLdata/owlDemoSchema.ttl&#10;type=RDF"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <intAttribute key="parallelism" value="7"/>
    <listAttribute key="parameters"/>
    <booleanAttribute key="profile_model_loading" value="false"/>
    <booleanAttribute key="profiling_enabled" value="false"/>
    <booleanAttribute key="reset_profiler" value="false"/>
    <stringAttribute key="source" value="/org.eclipse.epsilon.examples.emc.rdf.OWLdata/example.eol"/>
</launchConfiguration>
